{% import 'macros/form.html' as form %}
{% block visibility %}
<div class="pivot-table-new-1 {% if not data.action or data.action != 'pivot_table_new_1' %}hidden{% endif %}">
{% endblock %}
{% block title %}
<H2>
  {{_('Configure DHIS2 Connection')}}
</H2>
{% endblock %}
{% block connection_details %}
{% call form.input('dhis2_url', id='field-dhis2-url', label=_('DHIS2 URL'), value=data.dhis2_url, placeholder="e.g. https://play.dhis2.org/demo/", error=errors.dhis2_url, classes=['control-full'], is_required=True) %}
    <span class="info-block">
      {{ _('This should include the https:// part of the URL') }}
    </span>
{% endcall %}
{% call form.input('dhis2_api_version', id='field-dhis2-api-version', label=_('DHIS2 API version'), value=data.dhis2_api_version, placeholder="26", error=errors.dhis2_api_version, classes=['control-full']) %}
  <span class="info-block">
    {{ _('DHIS2 API version to be used. If empty the default version 26 will be used.') }}
  </span>
{% endcall %}
{% if data.dhis2_auth_token %}
  {{ form.info(text=_('Auth token saved')) }}
{% else %}
  {% call form.input("dhis2_username", id="field-dhis2-username", label=_("DHIS2 Username"), placeholder=_("dhis2_username"), value=data.dhis2_username, error=errors.dhis2_username, classes=["control-medium"], is_required=True) %}
    <span class="info-block">
      {{ _('The user must have access to read the desired pivot tables') }}
    </span>
  {% endcall %}
  {% call form.input("dhis2_password", id="field-dhis2-password", label=_("DHIS2 Password"), type="password", value=data.dhis2_password, error=errors.dhis2_password, classes=["control-medium"], is_required=True) %}
    <span class="info-block">
      {{ _("Your password won't be stored in ADR but passed straight to the DHIS2 instance for authentication.") }}
    </span>
  {% endcall %}
{% endif %}
<input type="hidden" name="dhis2_auth_token" value="{{data.dhis2_auth_token}}" >
{% endblock %}
{% block actions %}
<div class="form-nav">
    <button class="btn btn-primary" type="submit" name="action" value="pivot_table_new_1">{{_("Next")}}</button>
</div>
{% endblock %}
</div>
