{% import 'macros/form.html' as form %}
{% block visibility %}
<div class="pivot-table-new-1 {% if not data.action or data.action != 'pivot_table_new_1' %}hidden{% endif %}">
{% endblock %}
{% block title %}
<H2>
  {{_('Configure DHIS2 Connection')}}
</H2>
{% endblock %}
{% block connection_details %}
<div class="advanced-config toggle-box dhis2-api">
{% call form.input('dhis2_url', id='field-dhis2-url', label=_('DHIS2 URL'), value=data.dhis2_url, placeholder="e.g. https://play.dhis2.org/demo/", error=errors.dhis2_url, classes=['control-full'], is_required=True) %}
    <span class="info-block">
      {{ _('This should include the https:// part of the URL') }}
      <div class="header">
        <a href="#" class="toggle-btn toggled" data-module="toggle_box">{{_('Click here to optionally specify the DHIS2 API version')}}</a>
      </div>
    </span>
{% endcall %}

  <div class="content"  style="display:none">
    {% call form.input('dhis2_api_version', id='field-dhis2-api-version', label=_('DHIS2 API version'), value=data.dhis2_api_version, placeholder="26", error=errors.dhis2_api_version, classes=['control-full']) %}
      <span class="info-block">
        {{ _('DHIS2 API version to be used. If empty the default version 26 will be used.') }}
      </span>
    {% endcall %}
  </div>
</div>

{% macro dhis2_credentials() %}
  {% call form.input("dhis2_username", id="field-dhis2-username", label=_("DHIS2 Username"), placeholder=_("dhis2_username"), value=data.dhis2_username, error=errors.dhis2_username, classes=["control-medium"], is_required=True) %}
    <span class="info-block">
      {{ _('The user must have access to read the desired pivot tables') }}
    </span>
  {% endcall %}
  {% call form.input("dhis2_password", id="field-dhis2-password", label=_("DHIS2 Password"), type="password", value=data.dhis2_password, error=errors.dhis2_password, classes=["control-medium"], is_required=True) %}
    <span class="info-block">
      {{ _("Your password won't be stored in ADR but passed straight to the DHIS2 instance for authentication.") }}
    </span>
  {% endcall %}
{% endmacro %}

{% if data.dhis2_auth_token %}
  {% set credentials_present = data.dhis2_username or data.dhis2_password %}
  {{form.info(text=_('A previous DHIS2 session is still active.  No need to log in again. '))}}
  <div class="advanced-config toggle-box dhis2-login {% if not credentials_present %} toggled {% endif %}">
  <div class="header">
    <a id="change-dhis2-user" href="#" class="toggle-btn" data-module="toggle_box">{{_('Click here to change DHIS2 User')}}</a>
    <input type="checkbox" id="overwrite-auth-token" name="overwrite-auth-token" class="toggle-checkbox hidden">
  </div>
  <div class="content" {% if not credentials_present %} style="display: none;" {% endif %}>
  {{ dhis2_credentials() }}
  </div>
  </div>
{% else %}
  {{ dhis2_credentials() }}
{% endif %}
<input type="hidden" name="dhis2_auth_token" value="{{data.dhis2_auth_token}}" >
{% endblock %}
{% block actions %}
<div class="form-nav">
    <button class="btn btn-default" type="submit" name="action" value="pivot_table_new_1">{{_("Next")}}</button>
</div>
{% endblock %}
</div>
