{% import 'macros/form.html' as form %}
{% resource 'dhis2harvester/pivot_tables.js' %}

{% do data.update({'column_config': {'naomi-art': {'name': 'Naomi ART Input'}, 'naomi-anc': {'name': 'Naomi ANC Input'}, 'other': {'name': 'Other'}}}) %}

{% set target_type_options = [] %}
{% for type, config in data.column_config.iteritems() %}
  {% do target_type_options.append({'value': type, 'text': config['name']}) %}
{% endfor %}

{% do data.update({'target_types': target_type_options}) %}


<div class="pivot-table-new-2 {% if data.action != 'pivot_table_new_2' %}hidden{% endif %}">
<h2>{{_('Choose your DHIS2 pivot tables')}}</h2>
<div class='pivot-tables'>
  {% for pivot_table in data.selected_pivot_tables %}
  <div class="row pivot-table">
    {{ form.select(
        'pivot_table_id',
        id='pivot_table_id',
        options=data.pivot_tables,
        selected=pivot_table.id,
        error=errors.pivot_table_id,
        classes=['pivot-table-selector', 'control-medium', 'no-label', 'col-xs-12', 'col-md-7'],
        attrs={
          "data-module": "autocomplete"
        }
      )
    }}
    {{ form.select(
        'pivot_table_target_type',
        id='pivot_table_target_type',
        options=data.target_types,
        selected=pivot_table.type,
        error=errors.pivot_table_id,
        classes=['control-medium', 'no-label', 'col-xs-10', 'col-md-4']
        )
    }}

    <div class="delete-btn form-group control-medium col-xs-2 col-md-1">
      <button class="btn btn-primary" disabled
              data-module='pivot_table_delete'
              data-module-source=".pivot-table-new-2 .row.pivot-table"
              data-module-delete=".pivot-table-new-2 .row.pivot-table .delete-btn button">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
  {% endfor %}
  {% if not data.selected_pivot_tables %}
    <div class="row pivot-table">
      {{ form.select(
        'pivot_table_id',
        id='pivot_table_id',
        options=data.pivot_tables,
        error=errors.pivot_table_id,
        classes=['pivot-table-selector', 'control-medium', 'no-label', 'col-xs-12', 'col-md-7'],
        attrs={
          "data-module": "autocomplete"
        }
      )
              }}
      {{ form.select(
        'pivot_table_target_type',
        id='pivot_table_target_type',
        options=data.target_types,
        error=errors.pivot_table_id,
        classes=['control-medium', 'no-label', 'col-xs-10', 'col-md-4']
        )
              }}

      <div class="delete-btn form-group control-medium col-xs-2 col-md-1">
        <button class="btn btn-primary" disabled
                data-module='pivot_table_delete'
                data-module-source=".pivot-table-new-2 .row.pivot-table"
                data-module-delete=".pivot-table-new-2 .row.pivot-table .delete-btn button">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  {% endif %}
</div>

<div  class="row">
  <div class="add-btn form-group control-medium col-xs-2 col-md-1">
    <button class="btn btn-success"
            data-module="pivot_table_add"
            data-module-source=".pivot-table-new-2 .row.pivot-table"
            data-module-target=".pivot-table-new-2 .pivot-tables"
            data-module-delete=".pivot-table-new-2 .row.pivot-table .delete-btn button">
      <i class="fa fa-plus"></i>
      {{_('Add Pivot Table')}}
    </button>
  </div>
</div>

<br/>
<button class="btn btn-default" type="submit" name="action" value="back.pivot_table_new_1">{{_("Previous")}}</button>
<button class="btn btn-primary" type="submit" name="action" value="pivot_table_new_2">{{_("Next")}}</button>
</div>
