{% extends "source/pivot_table_base.html" %}
{% import 'macros/form.html' as form %}
{% resource 'harvest-extra-field/main' %}

{% block subtitle %}{{ _('Fetch DHIS2 Pivot Table') }}{% endblock %}

{% block form_content %}
<form id="source-new" class="dhis2-source-new form-horizontal dataset-form {{ h.bootstrap_version() }}" method="post" >
  {% include 'source/refresh_dhis2_credentials.html' %}
  <div class="form-nav">
    <button class="btn btn-primary" type="submit" name="action" value="run_job">{{_("Refresh DHIS2 Source")}}</button>
  </div>
</form>
{% endblock %}
