{% import 'macros/form.html' as form %}
<div class="pivot-table-new-3 {% if data.action != 'pivot_table_new_3' %}hidden{% endif %}">
<h1>Pivot table categories</h1>
<input name="pivot_table_id" value="{{ data.pivot_table_id }}" >
{%  for column in data.pivot_table_columns %}
  <p>{{ column['text'] }}</p>
  {{ form.input("col_{}".format(column['value']), label=_('Column name'), value=data['col_{}'.format(column['value'])]) }}
  {{ form.input("age_{}".format(column['value']), label=_('Age group')) }}
  {{ form.input("gender_{}".format(column['value']), label=_('Gender')) }}
  <br/>
{%  endfor %}
<br/>
<button class="btn btn-default" type="submit" name="action" value="back.pivot_table_new_2">{{_("Previous")}}</button>
<button class="btn btn-primary" type="submit" name="action" value="pivot_table_new_3">{{_("Next")}}</button>
</div>
