{% extends "source/admin_base.html" %}

{% block styles %}
  {{ super() }}
  {% asset 'ckanext-dhis2harvester/main-css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'ckanext-dhis2harvester/main' %}
{% endblock %}

{% block breadcrumb_content %}
  {% if g.owner_org %}
    {% set org = g.owner_org %}
    <li>{{ h.nav_link(_('Organizations'), controller='organization', action='index') }}</li>
    <li>{{ h.nav_link(org.title or org.name|truncate(10), controller='organization', action='read', id=org.name) }}</li>
    <li><a href="{{ h.url_for('harvest.search', organization=org.name)}}">{{_('DHIS2 Sources')}}</a></li>
    <li><a  href="{{ h.url_for('harvest.read', id=harvest_source.name) }}">{{ harvest_source.title|truncate(15) }}</a></li>
    <li{{ self.breadcrumb_content_root_selected() }}>
      <a  href="{{ h.url_for('harvester.admin', id=harvest_source.name) }}">Admin</a>
    </li>
  {% else %}
    <li><a href="{{  h.url_for('harvest.search')}}">{{_('DHIS2 Sources')}}</a></li>
    <li class="active">
      <a  href="{{ h.url_for('dhis2_harvester.pivot_tables_new') }}">{{ _('Create DHIS2 Pivot Table Fetcher') }}</a>
    </li>
  {% endif %}
{% endblock %}

{% block page_header_tabs %}
  <li>
    <a href="{{ h.url_for('harvester.admin', id=harvest_source.name) }}">
      <i class="fa fa-dashboard"></i> {{ _('Dashboard') }}
    </a>
  </li>
  <li>
    <a href="{{ h.url_for('harvester.job_list', source=harvest_source.name) }}">
      <i class="fa fa-reorder"></i> {{ _('Jobs') }}
    </a>
  </li>
  <li class="active">
    <a href="{{ h.url_for('dhis2_harvester.pivot_tables_edit', harvest_source_id=harvest_source.id) }}">
      <i class="fa fa-edit"></i> {{ _('Edit') }}
    </a>
  </li>
{% endblock %}

{% block page_header %}
  {% if harvest_source %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block actions_content %}
{% endblock %}

{% block subtitle %}{{ _('Create DHIS2 Pivot Table Fetcher') }}{% endblock %}

{% block primary_content_inner %}
  <section class="module">
    <div class="module-content">
        {% block form_content %}
        {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="fa fa-lg fa-info-circle icon-large icon-info-sign"></i> {{ _('DHIS2 sources') }}</h2>
    <div class="module-content">
      <p>
        {% trans %}
        Fetchers allow importing remote datasets into the ADR.  This DHIS2
        fetcher can be configured to periodically fetch pivot tables from
        a DHIS2 instance and do some automatic transformation upon them.
        {% endtrans %}
      </p>
    </div>
  </section>
{% endblock %}
