{% extends "source/admin_base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ h.url_for_static('/dhis2_harvester_source_form.css')}}">
{% endblock %}

{% block breadcrumb_content %}
  {% if data.owner_org %}
    {% set org = data.owner_org %}
    <li>{{ h.nav_link(_('Organizations'), named_route='organizations_index') }}</li>
    <li>{{ h.nav_link(org.title or org.name|truncate(10), named_route='organization_read', id=org.name) }}</li>
    <li>{{ h.nav_link(_('Harvest Sources'), named_route='{0}_search'.format(c.dataset_type)) }}</li>
    <li{{ self.breadcrumb_content_root_selected() }}>{{ h.nav_link(harvest_source.title|truncate(10), named_route='{0}_read'.format(c.dataset_type), id=harvest_source.name) }}</li>
  {% else %}
    <li>{{ h.nav_link(_('Harvest Sources'), named_route='{0}_search'.format(c.dataset_type)) }}</li>
    <li class="active">{{ h.nav_link(_('Create DHIS2 Pivot Table Fetcher'), named_route='{0}_new'.format(c.dataset_type)) }}</li>
  {% endif %}
{% endblock %}

{% block actions_content %}
{% endblock %}

{% block subtitle %}{{ _('Create DHIS2 Pivot Table Fetcher') }}{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
        {% block form_content %}
        {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="fa fa-lg fa-info-circle icon-large icon-info-sign"></i> {{ _('Harvest sources') }}</h2>
    <div class="module-content">
      <p>
        {% trans %}
        Fetchers allow importing remote datasets into the ADR.  This DHIS2
        fetcher can be configured to periodically fetch pivot tables from
        a DHIS2 instance and do some automatic transformation upon them.
        {% endtrans %}
      </p>
    </div>
  </section>
{% endblock %}
