{% import 'macros/form.html' as form %}
<div class="pivot-table-new-4 {% if data.action != 'pivot_table_new_4' %}hidden{% endif %}">
<h1>{{_('Finalise DHIS2 Source')}}</h1>
{{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full'], attrs={'data-module': 'slug-preview-target', 'class': 'form-control'}) }}

{% set prefix = 'harvest' %}
{% set domain = h.url_for('harvest.read', id='', qualified=true) %}
{% set domain = domain|replace("http://", "")|replace("https://", "") %}
{% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<harvest-source>'} %}

{{ form.prepend('name', id='field-name', label=_('Name'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs) }}

{{ form.markdown('notes', id='field-notes', label=_('Description'), value=data.notes, error=errors.notes) }}

{% if show_organizations_selector %}
  {% if organizations_available|length < 1 %}
    <input type="hidden" name="owner_org" value="{{organizations_available[0].value}}" >
  {% else %}
    {{ form.select('owner_org', id='field-organizations', label=_('Organization'), options=organizations_available, selected=selected_org, error=errors.organization, is_required=True) }}
  {% endif %}
{% endif %}

{% snippet 'scheming/form_snippets/country_select.html',
    data=data,
    errors=errors,
    field={
        "field_name": "geo_location",
        "label": "Geographical Location",
        "form_placeholder": "Country or province",
        "preset": "country_list",
        "display_property": "dc:contributor"
    }
%}

{{ form.image_upload(data, errors, field_url='area_id_map_url', field_upload='area_id_map_upload', field_clear='clear_upload',
 is_upload_enabled=false, is_url=data.area_map_is_url, is_upload=false,
 upload_label=_('Optional Area ID Mapping File'), url_label=_('Optional Area ID Mapping File URL'), placeholder=_('http://example.com/external-data.csv'), field_name='name') }}

{{ form.select(
    'period_conversion_type',
    id='period_conversion_type',
    label='DHIS2 Period Conversion Type',
    options=[{'value':'DEFAULT', 'text': 'Default (None)'},{'value': 'ETHIOPIAN_PERIOD_CONVERSION', 'text': 'Ethiopian'}],
    selected=data.period_conversion_type or 'DEFAULT',
    error=errors.period_conversion_type
  )
}}

{% if harvest_source and h.check_access('harvest_source_delete', {'id': harvest_source.id}) and harvest_source.get('state', 'none') == 'deleted' %}
  <div class="control-group">
    <label for="field-state" class="control-label">{{ _('State') }}</label>
    <div class="controls">
      <select id="field-state" name="state">
        <option value="active" {% if harvest_source.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
        <option value="deleted" {% if harvest_source.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
      </select>
    </div>
  </div>
{% endif %}


<input type="hidden" name="source_type" value="dhis2_pivot_table" >
<div class="form-nav">
  <button class="btn btn-default" type="submit" name="action" value="back.pivot_table_new_3">{{_("Previous")}}</button>
</div>
</div>
